includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: max
    paths:
        - src
        - config
    excludePaths:
        - src/Kernel.php
        - config/reference.php
    symfony:
        containerXmlPath: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
